<%- include ("../partials/header") %>

<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Wilson System</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/login">Login Here</a>
          <a class="nav-link" href="/register">Sign Up Today</a>
        </nav>
      </div>
    </header>

    <img src="/Pictures/403 Error Forbidden-rafiki.svg" alt="403 Not Found" />
    <h1>403 Forbidden</h1>
    <p>Due to invalid identity, you are not allowed to view this page.</p>
  </div>
</body>
